@import url(http://fonts.googleapis.com/css?family=Lato:300);

body {
  background-color: #ecf0f1;
  color: #2c3e50;
  font-family: 'Lato', sans-serif;
}

.container {
  background-color: #34495e;
  border-bottom: 2px solid #2c3e50;
  color: #fff;
  margin: 15px;
  padding: 15px;
}

